<h1>Blog Posts</h1>

<% if user_signed_in? %>
  <%= link_to "new post", new_post_path, class: "no-underline inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-lg shadow transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
<% end %>

<% @posts.each do |post| %>
  <div class="mb-6">
    <h3><%= link_to post.title, post_path(post) %></h3>
    <div class="">
      <% if post.draft? %>
        <p class="text-gray-500">Draft
      <% elsif post.scheduled? %>
        <p class="text-yellow-500">Scheduled: <%= post.published_at.strftime("%B %d, %Y") %>
      <% else %>
        <p><%= post.published_at.strftime("%B %d, %Y") if post.published_at %>
      <% end %>
     | <%= post.author.email %></p>
    </div>
    <div class="text-gray-700">
      <%= truncate(strip_tags(post.body.to_s), length: 200, separator: ' ') %>
    </div>
  </div>
<% end %>

<%== pagy_nav(@pagy) %>
